*{
    background-color: #24282f;
}

body{
    color: #fff;
    font-family: "Roboto", sans-serif;
}

.topnav{
    margin-left:925px;
    overflow: hidden;
}

.active{
    color: #00f0ff;
    text-decoration: none;
}

.inactive{
    color: #fff;
    text-decoration: none;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 2px 15px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.about{
    margin-left: 20px;
    margin-right: 450px;
    text-align: justify;
    line-height: 25px;
}

h1{
    text-align: center;
    font-family: "Garamond", serif;
    font-size: 40px;
}

h3{
    font-size: 25px;
}

.right{
    display: block;
    float: right;
    margin-left: auto;
    margin-right: 100px;
    width: 50%;
}

.left{
    display: block;
    float: left;
    margin-left: 50px;
    margin-right: auto;
    width: 50%;
}

.digi, .cp{
   margin-left: 50px;
   margin-right: 500px;
   text-align: justify; 
}

#kec1, #kec2, #kec3{
    font-size: 17px;
    line-height: 25px;
}

.puzz{
    margin-left: 350px;
    margin-right: 150px;
    text-align: justify; 
}

span{
    color: #00f0ff;
}

#digi{
    width: 290px;
    height: 230px;
    background: #00f0ff;
    margin-right: 100px;
    box-shadow: 8px 8px 8px #00f0ff;
}

#puzz{
    width: 250px;
    height: 290px;
    background: #00f0ff;
    margin-right: 100px;
    box-shadow: 8px 8px 8px #00f0ff;
}

#cp{
    width: 330px;
    height: 230px;
    background: #00f0ff;
    margin-right: 100px;
    box-shadow: 8px 8px 8px #00f0ff;
}